/Source/.idea/.name
/Source/.idea/Pivot.iml
/Source/.idea/encodings.xml
/Source/.idea/misc.xml
/Source/.idea/modules.xml
/Source/.idea/workspace.xml
/.idea/.name
/.idea/Pivot.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
