html, body {

    /* Ensure the body fills the view, so clicks are handled everywhere: */
    width: 100%;
    height: 100%;

    /* General CSS for my custom view: */
    font-size: 14px;
    font-family: sans-serif;

}

#main {
    overflow: auto;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
}
td {
    padding: 5px;
    text-align: right;
}
td.h, td.diffh, td.totalh {
    font-weight: bold;
    background: white;
}
td.v {
    background: #EEE;
}
td.diffv {
    background: #DDD;
}
td.diffh, td.diffv {
    color: #999;
}
td.diffh {
    text-align: center;
}
td.totalv {
    background: #CCC;
}
td.totalv, td.totalh {
    color: #777;
    font-weight: bold;
}
